.App {
	text-align: center;
}

body {
	background-color: black;
	--button-margin: 15px;
}

#clock {
	color: green;
	font-size: 48pt;
	position: absolute;
	right: 25px;
	top: 25px;
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.background {
	width: 200px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.mfd {
	position: absolute;
	border: 1px solid green;
	display: flex;
	flex-direction: row;
}

.centerScreen {
	width: 440px;
	height: 440px;
	border: 1px solid green;
	border-radius: 1em;
	flex-grow: 0;
}

.topButtons, .bottomButtons {
	margin: var(--button-margin);
	gap: var(--button-margin);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.leftButtons, .rightButtons {
	margin: var(--button-margin);
	gap: var(--button-margin);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.middleColumn {
	display: flex;
	flex-direction: column;
}

.button {
	color: green;
	font-size: 20px;
	height: 50px;
	width: 50px;
	border: 1px solid green;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.rocker .button {
	height: 40px;
	width: 40px;
}

.button:active {
	background-color: green;
}