.App {
	text-align: center;
}

body {
	background-color: black;
	--button-margin: 15px;
	--small-button-margin: 5px;
}

#clock {
	color: green;
	font-size: 48pt;
	position: absolute;
	right: 25px;
	top: 25px;
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.background {
	width: 200px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.mfd {
	position: absolute;
	border: 1px solid green;
	display: flex;
	flex-direction: row;
}

.topButtons, .bottomButtons {
	margin: var(--button-margin);
	gap: var(--button-margin);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.leftButtons, .rightButtons {
	margin: var(--button-margin);
	gap: var(--button-margin);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.middleColumn {
	display: flex;
	flex-direction: column;
}

.button {
	color: green;
	font-size: 20px;
	height: 50px;
	width: 50px;
	border: 1px solid green;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.rocker .button {
	height: 40px;
	width: 40px;
}

.centerScreen {
	width: 440px;
	height: 440px;
	border: 1px solid green;
	border-radius: 1em;
	background-color: lightgreen;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;

}

.topLabels, .bottomLabels {
	height: 45px;
	width: calc(100% + 2 * var(--button-margin));
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: var(--button-margin);
	margin-left: calc(0px - var(--button-margin));
	margin-right: calc(0px - var(--button-margin));
}

.leftLabels, .rightLabels {
	width: 100px;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--button-margin)
}

.middleLabels {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.centerLabels {
	flex-grow: 1;
}

.label {
	overflow: hidden;
	border: 1px solid green;
	color: green;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	flex-grow: 0;
}

.rocker-label {
	width: 47px;
	display: flex;
	flex-direction: column;
}

.label:empty {
	visibility: hidden;
}

.label.small {
	width: 48px;
	height: 22px;
}

.label.medium {
	width: 50px;
	max-height: 45px;
}

.label.large {
	max-width: 100;
	height: 50px;
}