body {
	margin: 0;
	height: 100%;
	user-select: none;
	background-color: black;
	--button-margin: 15px;
	--small-button-margin: 5px;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.App .Header {
	height: 100px;
	flex-grow: 1;
}

.App .Content {
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
}

.clockPannel {
	flex-grow: 1;
	align-items: center;
}

#clock {
	height: 100%;
	color: green;
	font-size: 48pt;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.background {
	width: 200px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mfd {
	border: 1px solid green;
	display: flex;
	flex-direction: row;
}

.topButtons,
.bottomButtons,
.horizontalButtons {
	margin: var(--button-margin);
	gap: var(--button-margin);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.verticalButtons {
	margin: var(--button-margin);
	gap: var(--button-margin);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.middleColumn {
	display: flex;
	flex-direction: column;
}

.button {
	color: green;
	font-size: 20px;
	height: 50px;
	width: 50px;
	border: 1px solid green;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rocker .button {
	height: 40px;
	width: 40px;
}

.centerScreen {
	width: 440px;
	height: 440px;
	border: 1px solid green;
	border-radius: 1em;
	background-image: radial-gradient(lightgreen, black 125%);
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	transform: translateZ(-1000px);

}

/* labels */

.horizontalLabels {
	height: 45px;
	width: calc(100% + 2 * var(--button-margin));
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: var(--button-margin);
	margin-left: calc(0px - var(--button-margin));
	margin-right: calc(0px - var(--button-margin));
}

.verticalLabels {
	width: 100px;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--button-margin)
}

.middleLabels {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.centerLabels {
	flex-grow: 1;
}

.mfdLabel {
	text-align: center;
	font-size: 36px;
	color: white;
}

.label {
	overflow: hidden;
	border: 1px solid green;
	color: green;
	background-color: black;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	flex-grow: 0;
}

.rocker-label {
	width: 47px;
	display: flex;
	flex-direction: column;
}

.label:empty {
	visibility: hidden;
}

.label.small {
	width: 48px;
	height: 22px;
}

.label.medium {
	width: 50px;
	max-height: 45px;
}

.label.large {
	max-width: 100px;
	height: 50px;
}

/* crt effects */
.crt:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to bottom,
			rgba(18, 16, 16, 0) 50%,
			rgba(0, 0, 0, 0.25) 50%);
	background-size: 100% 4px;
	z-index: 2;
	pointer-events: none;
}

.scanline {
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(0deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(255, 255, 255, 0.2) 10%,
			rgba(0, 0, 0, 0.1) 100%);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	animation: scanline 10s linear infinite;
}

@keyframes scanline {
	0% {
		bottom: 100%;
	}

	80% {
		bottom: 100%;
	}

	100% {
		bottom: 0%;
	}
}